*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 2rem;
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='23.09' height='40' viewBox='0 0 34.64101615137755 60' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Cpath d='M36.37 39L36.37 41L32.91 39L34.64 38L34.64 42L32.91 41L34.64 40z' stroke-linejoin='miter' fill='rgba(74, 85, 104,1)'/%3E%3Cpath d='M19.05 49L19.05 51L15.59 49L17.32 48L17.32 52L15.59 51L17.32 50z' stroke-linejoin='miter' fill='rgba(74, 85, 104,1)'/%3E%3Cpath d='M1.73 39L1.73 41L-1.73 39L0 38L0 42L-1.73 41L0 40z' stroke-linejoin='miter' fill='rgba(74, 85, 104,1)'/%3E%3Cpath d='M1.73 19L1.73 21L-1.73 19L0 18L0 22L-1.73 21L0 20z' stroke-linejoin='miter' fill='rgba(74, 85, 104,1)'/%3E%3Cpath d='M19.05 9L19.05 11L15.59 9L17.32 8L17.32 12L15.59 11L17.32 10z' stroke-linejoin='miter' fill='rgba(74, 85, 104,1)'/%3E%3Cpath d='M36.37 19L36.37 21L32.91 19L34.64 18L34.64 22L32.91 21L34.64 20z' stroke-linejoin='miter' fill='rgba(74, 85, 104,1)'/%3E%3Cpath d='M34.64 41L35.51 40.5L33.77 39.5L33.77 40.5L35.51 39.5L34.64 39L34.64 40z' stroke-linejoin='miter' fill='rgba(198, 246, 213,1)'/%3E%3Cpath d='M17.32 51L18.19 50.5L16.45 49.5L16.45 50.5L18.19 49.5L17.32 49L17.32 50z' stroke-linejoin='miter' fill='rgba(198, 246, 213,1)'/%3E%3Cpath d='M0 41L0.87 40.5L-0.87 39.5L-0.87 40.5L0.87 39.5L0 39L0 40z' stroke-linejoin='miter' fill='rgba(198, 246, 213,1)'/%3E%3Cpath d='M0 21L0.87 20.5L-0.87 19.5L-0.87 20.5L0.87 19.5L0 19L0 20z' stroke-linejoin='miter' fill='rgba(198, 246, 213,1)'/%3E%3Cpath d='M17.32 11L18.19 10.5L16.45 9.5L16.45 10.5L18.19 9.5L17.32 9L17.32 10z' stroke-linejoin='miter' fill='rgba(198, 246, 213,1)'/%3E%3Cpath d='M34.64 21L35.51 20.5L33.77 19.5L33.77 20.5L35.51 19.5L34.64 19L34.64 20z' stroke-linejoin='miter' fill='rgba(198, 246, 213,1)'/%3E%3Cpath d='M17.32 30L17.32 30L17.32 30L17.32 30L17.32 30L17.32 30L17.32 30z' stroke-linejoin='miter' fill='rgba(74, 85, 104,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  background-color: hsl(180, 9.1%, 87.1%);
}

.profile-desc {
  text-align: center;
  position: relative;
  z-index: 2;
}

.profile-desc h1 {
  font-size: 3rem;
  line-height: 1;
}

.profile-desc p {
  max-width: 400px;
  margin: 1.4rem auto 0;
  font-size: 1.4rem;
  line-height: 1.4;
}

.profile-desc, .profile, .profile-form {
  padding: 2rem;
}

.profile, .profile-form {
  border-radius: 10px;
  background: hsl(180, 9.1%, 87.1%, 1);
  box-shadow: 20px 20px 60px hsl(180, 3.8%, 73.9%, .7),
             -20px -20px 60px hsl(180, 100%, 99.4%, .8);
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  max-width: 500px;
  border-top: 2px solid hsl(180, 17.6%, 93.3%, .8);
  border-left: 1px solid hsl(180, 17.6%, 93.3%, .8);
  border-bottom: 2px solid hsl(180, 3.8%, 73.9%, .5);
  border-right: 2px solid hsl(180, 3.8%, 73.9%, .5);
}

.profile.inactive, .profile-form.inactive {
  display: none;
}

input, label, textarea, button {
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  width: 100%;
  border: none;
}

label p {
  position: relative;
  z-index: 2;
  margin-bottom: .3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input, textarea {
  padding: .5rem;
  border-radius: 4px;
  background: hsl(180, 17.6%, 93.3%, 1);
  box-shadow: 10px 10px 15px hsla(300, 3%, 7%, .06),
             -10px -10px 20px  hsla(300, 1%, 94%, .44);
  transition: all 250ms ease-in-out;
  border: 2px solid transparent;
}

input:focus, textarea:focus, button:is(:hover, :focus){
  box-shadow: none;
  outline: none;
}

input:focus, textarea:focus {
  border-bottom: 2px solid hsl(103, 25.7%, 13.7%, 1);
}

button {
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: max-content;
  padding: .6rem 2rem;
  border-radius: 4px;
  color: hsl(180, 17.6%, 93.3%, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8rem;
  background: hsl(300, 2.9%, 6.9%, 1);
  box-shadow: 5px 5px 18px hsla(300, 3%, 7%, .3),
             -10px -10px 20px  hsla(300, 1%, 94%, .44);
  transition: all 250ms ease-in-out;
}
